.accordion-icon {
    margin: 0rem 1.2rem 0rem 0rem;
    font-size: 1rem;
}

.accordion-component {
    margin-bottom: 1.2rem;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.accordion-label {
    font-size: 17px;
}

.accordion-component:last-of-type {
    margin-bottom: 0rem;
}

.apply-btn {
    width: 4.625rem;
    height: 2rem;
    margin-left: 0.5rem;
    font-size: 15px;
    color: #293745;
    border: 1px solid #293745;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    opacity: 0.9;
}

.apply-btn:hover {
    background-color: #293745;
    color: #fff;
}

.text-input {
    width: 75% !important;
    text-align: right;
}

.form-check-input {
    cursor: pointer;
}

.show-range-value {
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 1.5rem;
    background-color: #eff6fc;
    // background-color: transparent !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.9;
}