header {
    padding: 8px 16px 8px 16px;
    justify-content: center;
    align-items: center;
    background-color: #2b3140;

    #main-title {
        display: inline-block;
        margin: 0px;
        padding-bottom: 3px;
    }

    #main-description {
        padding-left: 10px;
        font-size: smaller;
    }

    .download {
        padding: 0px 2px 0px 2px;

        .download-btn {
            float: right;
            margin-top: 0.5px;
        }
    }
}