#dashboard-content {
    border-right: 1px solid #d4d4d4;
    padding: 0.75rem 1rem 0rem 1rem !important;
}

#dashboard-content::-webkit-scrollbar {
    display: none !important;
}

.dashboard-body {
    padding: 0.125rem 0.25rem 0rem 0.25rem !important;
}

.new-slot-btn {
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #293745;
    border: 1px solid #293745;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0rem 0.25rem;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.new-slot-btn:hover {
    background-color: #293745;
    color: #fff;
}

// Slot
.slot {
    // height: 50% !important;
    // border: solid 1px #dae4ea;
    max-width: 100% !important;
    border: solid 1px #808080;
    border-radius: 6px;
    color: #293745;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px #d4d4d4;
    margin-bottom: 1rem !important;
}

.slot-header {
    height: 3rem;
    border-bottom: 1px solid #d4d4d4;
}

.slot-index {
    color: #293745;
    height: 75%;
    width: 2.25rem;
    border: 1px solid #b0b0b0;
    border-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // border-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.slot-footer {
    height: 3rem;
    border-top: 1px solid #d4d4d4;
}

.slot-title-section {
    width: 50% !important;
}

.slot-title {
    border: 1px solid #b0b0b0;
    height: 75%;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.slot-close-section {
    width: 50% !important;
    padding-right: 0.5rem !important;
    font-size: 1.125rem !important;
    outline: none !important;
    border: none;
}

.slot-close-btn {
    padding: 0.375rem 0.5rem !important;
    margin: 0rem 0.5rem 0rem 0.25rem !important;
}

.slot-move-btn {
    width: auto !important;
    font-size: 1.125rem !important;
    padding: 0.375rem 0.5rem !important;
    opacity: 1 !important;
    margin: 0rem 0.25rem !important;
}

.slot-toggle-btn {
    width: auto !important;
    font-size: 1.125rem !important;
    padding: 0.375rem 0.5rem !important;
    opacity: 1 !important;
    margin: 0rem 0.25rem !important;
}

.slot-close-btn:focus,
.slot-close-btn:not(:focus),
.slot-toggle-btn:focus,
.slot-toggle-btn:not(:focus) {
    outline: none !important;
    border: none;
}

.slot-content {
    // margin: 0rem 0.25rem 1.25rem 0.25rem !important;
    margin: 0.25rem !important;
}

.modal-content {
    border: 1px solid #293745;
    box-shadow: 0px 5px 10px 5px #d4d4d4 !important;
}

.modal-backdrop {
    display: none;
    z-index: 1040 !important;
}

.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}

rect.selection {
    fill: #990f02;
    stroke: #990f02;
    stroke-width: 1px;
    stroke-opacity: 1;
    fill-opacity: 0.15;
}